/* NAVBAR CUSTOM */
.navbar {
    transition: var(--transicion);
    z-index: 1050;
}

.navbar-brand {
    letter-spacing: 1px;
}

/* BOTONES ROUNDED-PILL */
.rounded-pill {
    border-radius: 50px;
}

.btn-primary {
    background-color: var(--color-primario);
    color: var(--color-blanco);
    border: 2px solid var(--color-primario);
    transition: var(--transicion);
}

.btn-primary:hover {
    background-color: var(--color-primario-oscuro);
    color: var(--color-blanco);
    border-color: var(--color-primario);
    transform: translateY(-2px);
    box-shadow: var(--sombra-md);
}

.btn-primary:active {
    transform: translateY(0);
}

.btn-primary-inverse {
    background-color: var(--color-blanco); /* Fondo blanco inicial */
    color: var(--color-primario);         /* Texto en color azul primario */
    border: 2px solid var(--color-blanco); /* Borde para que se vea el contorno */
    transition: var(--transicion);        /* Para que el cambio de color sea suave */
}

.btn-primary-inverse:hover {
    background-color: var(--color-blanco); /* Un gris muy leve para notar el hover */
    color: var(--color-primario);
    border-color: var(--color-blanco);
}

.btn-primary-inverse:disabled {
    background-color: var(--color-primario); /* Fondo blanco inicial */
    color: var(--color-blanco);         /* Texto en color azul primario */
    border: 2px solid var(--color-primario); /* Borde para que se vea el contorno */
    transition: var(--transicion);
}

.step-card {
    border: none !important;
    border-radius: var(--border-radius-lg);
    background: var(--color-blanco);
    transition: var(--transicion);
}

.step-card:hover {
    transform: translateY(-10px);
    box-shadow: var(--sombra-hover);
}

.icon-wrapper {
    width: 70px;
    height: 70px;
    background: rgba(122, 153, 221, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto;
}

/* FOOTER */
.footer-link {
    font-weight: 300;
    font-size: 0.95rem;
}

.footer-link:hover {
    color: var(--color-primario) !important;
    padding-right: 5px;
}